
body {
    margin: 0;
    background-color:rgb(184, 222, 255);
    
}
.container{
    position: relative;
    justify-content: flex-start;
    background-color: black;
    top: 150px;
}
#envoyer{
    color: rgb(0, 0, 0);
    --police: Impact;
    font-family: var(--police);
    width: 80%;
    border: none;
    height: 20px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.45);
    background: white;
    position: relative;
    z-index: 10;
    transition: 0.5s;
}

#envoyer:focus{
    outline: none;
}

#envoyer:hover{
    transform: scale(1.2) rotate(-15deg);
}
.formulaire {
    /* padding-top: 50px; */
    z-index: 10;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    height: 500px;
    width: 350px;
    position: relative;
    justify-content: space-around;
    overflow: hidden;

}
.formulaire input[type=text] {
    width: 80%;
    margin-left: 10px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid black;
    position: relative;
    z-index: 10;
}

.formulaire input:focus{
    outline: none;
    border-bottom: 1px solid rgb(255, 7, 7);
}
::placeholder{
    --police: Impact;
    font-family: var(--police);
    color: rgb(1, 1, 1);
}
.banner {
    background-color: transparent;
    position: fixed;
    width: 100%;
    opacity: 1;
    height: 100px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    transition-duration: 0.3s;
}

.banner h1,
h2,
a {
    color: rgb(255, 255, 255);
    font-family: Impact;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 10;
    height: 100px;
    line-height: 100px;
    text-decoration: none;
}

.banner a:hover {
    border-bottom: 4px solid rgb(10, 142, 223);
}
