body {
    margin: 0;
    background-color: rgb(233, 233, 233)
}

/* remove watermark */
img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}


/* Banner section */

.banner {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 10;
    transition-duration: 0.3s;
    --banner-before-opacity: rgba(255, 255, 255, 0.5);
    /* Default opacity */
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--banner-before-opacity);
    /* Background with opacity */
    z-index: -1;
    /* Position behind the main content */
}

.banner h1,
h2,
a {
    color: rgb(0, 0, 0);
    font-family: Impact;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
    line-height: 80px;
    position: relative;
    text-decoration: none;
}

.banner a:not(:first-of-type)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: rgb(0, 0, 0);
    transition: width 0.5s ease;
    z-index: -1;
}

@media all and (min-width: 750px) {
    .banner a:not(:first-of-type):hover::before {
        width: 100%;
    }
}

.banner2 {
    position: relative;
    top: 150px;
    height: 80px;
    background-color: white;
}

.banner3 {
    position: relative;
    height: 80px;
    background-color: white;
    top: -4px;
    z-index: 2;
}

/* img */

.inscription-banner {
    position: relative;
    width: 100%;
    background-size: contain;
}

/* form section */

.container {
    opacity: 1;
    z-index: 2;
    position: relative;
    justify-content: flex-start;
    display: flex;
    top: -4px;
    height: calc(5vw * 8);
}

#envoyer {
    font-size: calc(1vw * 1.1);
    color: rgb(255 239 239);
    --police: Impact;
    font-family: var(--police);
    width: 80%;
    border: none;
    height: calc(1vw * 2.3);
    margin: 0 auto;
    background: #ff9595;
    position: relative;
    z-index: 10;
    transition: 0.5s;
}

#envoyer:focus {
    outline: none;
}

#envoyer:hover {
    border: 1px solid #000000;
    color: #000;
    background-color: #fff;
}

.formulaire {
    border-radius: 30px;
    top: 10%;
    background-color: #fff;
    padding-top: 10%;
    opacity: 1;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 55%;
    width: 20%;
    right: 5%;
    position: absolute;
    justify-content: space-evenly;
    overflow: hidden;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.8);
}

.formulaire span {
    pointer-events: none;
    border-radius: 5px;
    margin-top: 2%;
    transition: 0.25s;
    left: 14%;
    padding-inline: 3%;
    height: calc(1vw * 1.1);
    position: absolute;
    font-weight: 400;
    --police: Helvetica, Arial, sans-serif;
    font-family: var(--police);
    color: rgb(144, 144, 144);
}

.formulaire input[type=text],
.formulaire input[type=password],
.formulaire input[type=email] {
    border-radius: 5px;
    width: 100%;
    height: calc(1vw * 1.7);
    background-color: transparent;
    border: 1px solid rgb(206, 206, 206);
    position: relative;
    outline: none;
}


.formulaire input:focus+span,
.formulaire input:active+span {
    transform: translateY(calc(1vw * -1));
    background-color: #ff9595;
    color: #000;
}

.formulaire input:focus,
.formulaire input:active {
    border: 2px solid #ff9595;
}


.formulaire label {
    width: 80%;
    margin: 0 auto;
    font-size: calc(1vw * 0.8);
    font-family: Helvetica,
        Arial,
        sans-serif;
}

.frame {
    right: -9%;
    top: calc(1vw * -5.5);
    position: absolute;
    height: calc(5vw * 4.5);
    width: calc(5vw * 4.5);
    overflow: hidden;
    border-radius: 50%;
    scale: 0.4;
    border: 5px solid #ffffff;
    z-index: 2;
}

.frame__image {
    position: absolute;
    right: -35%;
    height: calc(5vw * 4.5);
}

.background__frame {
    left: calc(1vw * 3.5);
    top: calc(1vw * -17.5);
    height: calc(2vw * 13);
    width: calc(2vw * 13);
    background-color: #ff9595;
    position: absolute;
    rotate: 30deg;
}

#logo,
#button1 {
    display: none;
}

#threeModel {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background: rgb(173, 169, 169);
    background: radial-gradient(circle, rgba(173, 169, 169, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

#threeModel canvas {
    height: 100% !important;
    width: 80% !important;
    position: relative;
}

.progress-bar-container {
    z-index: 99999999;
    position: absolute;
    left: -5.5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#progress-bar {
    width: 30%;
    margin-top: 0.5%;
    height: 2%;
}

/* footer section */

#footer {
    z-index: 2;
    position: relative;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #000000;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    height: 400px;
}

#footer .flex-container {
    display: flex;
}

#footer .footer-group {
    width: 200px;
    flex-grow: 1;
    width: 300px;
}

#footer .footer-group a {
    color: #fff;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 13px;
    font-family: AudiType, sans-serif;

}

#footer .footer-group h2 {
    color: #ffffff;
    font-family: AudiType, sans-serif;
    font-size: 1.3rem;
    padding-left: 38px;

}

#footer .footer-group li {
    list-style: none;
    text-decoration: none;
    height: 40px;
}

#footer .footer-group a:hover {
    text-decoration: underline;
}

.anim {
    transform: translateX(0%);
    opacity: 1;
}




#logo,
#button {
    display: none;
}

.linkResponsive a {
    display: block;
}

#link {
    display: flex;
    justify-content: center;
}

.anim-nav {
    background: rgb(0, 0, 0);
    opacity: 1;
}



@media all and (max-width: 1000px) {

    .inscription-banner {
        top: 80px;
    }

    .container,
    .banner3,
    #footer {
        top: 76px;
    }

}


@media all and (max-width: 902px) {
    #footer .flex-container {
        display: block;
    }

    #footer {
        height: 1200px;
    }

    .footer-group h2 {
        padding-top: 20px;
        width: 100%;
        height: 50px;
    }


}


@media all and (max-width: 750px) {
    .banner p {
        margin-top: 0px;
    }

    .banner h1,
    h2,
    a {
        color: rgb(0, 0, 0);

    }

    #menuDepliant {
        display: flex;
        position: absolute;
        left: 0px;
    }

    .formulaire {
        transition: none;
    }

    .banner {
        background-color: rgb(251, 251, 251);
        display: block;

    }

    #link a {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        display: none;
        border-bottom: 1px solid gray;
        width: 90%;
    }

    #link a:hover {
        border-bottom: 1px solid rgb(254, 8, 8);
    }

    .banner i {
        color: #000;
        line-height: 80px;
    }

    .banner p {
        color: #000;
        padding-left: 5px;

    }

    .banner a:hover {
        border: 0px;
    }

    #logo {
        display: block;
    }


    #button1 {
        position: absolute;
        left: 0px;
        background-color: transparent;
        display: flex;
        border: none;
        justify-content: center;
        width: 100%;
    }

    #button1:active {
        border: none;
    }

    .close.icon {
        display: block;
        position: relative;
        top: 50px;
        color: #000;
        width: 25px;
        height: 21px;
    }

    .close.icon:before {
        display: block;

        content: '';
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: currentColor;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .close.icon:after {
        display: block;
        content: '';
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: currentColor;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .linkResponsive a {
        display: block;
    }

    #link {
        top: 100px;
        position: relative;
        display: block;
        padding-left: 20px;

    }
}

@media all and (max-width: 700px) {
    .formulaire {
        width: 90%;
        right: 5%;
    }

    .progress-bar-container {
        left: 0;
    }

    #threeModel canvas {
        width: 100% !important;
    }
}