    .banner h1,h2,a {
        color: rgb(0, 0, 0);
        
    }
    
    .banner {
        background-color: rgb(255, 255, 255);
        justify-content:center ;
        height: 100px;

    }
    
    .banner a{
        display: none;
    }
    .banner i{
        display: flex;  
        vertical-align: middle;
        display: inline-block;
        width: 200px;
    }

    .banner a:hover{
        border:  0px;
    }
    #logo{
        display:block;
    }
    #button{
        position: absolute;
        left: 0px;
        background-color: transparent;
        display: flex;
        border: none;
    }
  