html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
    margin: 0;
    position: relative;
}



/* remove watermark */
img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}

button:active {
    border: none;
    box-shadow: -2px 2px 0px 0px rgb(255, 110, 110);
    background-color: #f1f1f1;
}

button:hover {
    cursor: pointer;
}


.monAudi {
    transition: 1s;
    position: relative;
    display: flex;
    background-color: #000000;
    width: 100%;
    justify-content: space-between;
    bottom: 0px;

}

.monAudi img {
    width: 600px;
}

.textAudi {
    margin-left: 5%;
    position: relative;
    width: 750px;
    height: 200px;
    top: 400px;
}

.textAudi h1 {
    color: white;
    font-size: 32px;
    font-weight: 100;
    font-family: AudiType, sans-serif;
    letter-spacing: -0.015em;
}

.textAudi a {
    padding: 20px 20px 20px 20px;
    color: white;
    font-size: 18px;
    font-family: AudiType, sans-serif;
    border: 2px solid white;
}

.textAudi a:hover {
    background-color: #f1f1f1;
    color: #000000;
}

#rand {
    margin-top: 3%;
}


.front-video {
    position: relative;
    z-index: 0;
    border-bottom: 1px solid #fff;
}

#myVideo {
    position: relative;
    width: 100%;
    object-fit: cover;
    z-index: 2;
}


* {
    margin: 0;
}

.left,
.right {
    z-index: 2;
    position: relative;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 41%;
    transform: translateY(-50%);
    box-shadow: -2px 2px 0px 0px rgb(0, 0, 0);
    background-color: transparent;
    border: transparent;
}

.right {
    right: 0;
    margin-right: 50px;
    transform: rotate(-135deg);
}

.left {
    transform: rotate(45deg);
    left: 0;
    margin-left: 50px;
}

.left:active,
.right:active {
    border: transparent;
    background-color: transparent;
    box-shadow: -2px 2px 0px 0px rgb(255, 255, 255);
}

.left:hover,
.right:hover {
    box-shadow: -2px 2px 0px 0px rgb(86, 86, 86);
}

#link {
    display: flex;
    justify-content: center;
}

.banner {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 10;
    transition-duration: 0.3s;
    --banner-before-opacity: rgba(255, 255, 255, 0.5);
    /* Default opacity */
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--banner-before-opacity);
    /* Background with opacity */
    z-index: -1;
    /* Position behind the main content */
}

.banner h1,
h2,
a {
    color: rgb(0, 0, 0);
    font-family: Impact;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
    line-height: 80px;
    position: relative;
    text-decoration: none;
}

.banner a:not(:first-of-type)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: rgb(0, 0, 0);
    transition: width 0.5s ease;
    z-index: -1;
}

@media all and (min-width: 750px) {
    .banner a:not(:first-of-type):hover::before {
        width: 100%;
    }
}




.anim-nav {
    opacity: 1;
}

/* Actualité section */

.banner2 {
    height: 0px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}


.carré {
    position: relative;
    background-color: #000000;
    z-index: 2;
    width: 400px;
    height: 200px;
    line-height: 200px;
    bottom: 115px;
    border: #ffffff solid 5px;
    transition: 1s;
}

.carré {
    position: relative;
    background-color: #000000;
    z-index: 2;
    width: 400px;
    height: 200px;
    line-height: 200px;
    bottom: 115px;
    justify-content: center;
    border: #ffffff solid 5px;
    transition: 1s;
}

.carré:before,
.carré:after {
    content: "";
    position: absolute;
    width: 400px;
    height: 0;
    transform: translateX(-50%);
    left: 200px;
    border-radius: 0%;
    transition: 1s;
}

.carré:before {
    bottom: -15px;
    background-color: #fff;
    top: 100%;
}

.carré:after {
    top: 0;
    bottom: -15px;
    background-color: #000;
    bottom: 100%;
}

.carré.hovered:before,
.carré.hovered2:after {
    height: 220px;
    top: 0;
}

.carré.hovered2:after {
    height: 0;
    bottom: 0;
}

#actualités {
    position: relative;
    z-index: 3;
    color: rgb(255, 255, 255);
    font-family: Impact;
    font-size: 30px;
    text-align: center;
}

@keyframes fill {
    from {
        top: 250px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}


@keyframes reverse {
    from {
        height: 200px;
        opacity: 1;
    }

    to {
        height: 0px;
        opacity: 0;
    }
}

/* caroussel section */

.caroussel {
    width: 85%;
    margin-block: 100px;
    margin-inline: auto;
    position: relative;
}


.background {
    overflow: hidden;
    width: 100%;
    z-index: 3;
    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.arrow-container-left,
.arrow-container-right {
    border: 1px solid #000;
    transition-duration: 1s;
    position: absolute;
    top: 45%;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.arrow-container-left {
    left: -75px;
}

.arrow-container-right {
    right: -75px;
}

.arrow-left,
.arrow-right {
    width: 20px;
    height: 20px;
    border-top: 3px solid #000;
    border-left: 3px solid #000;
}

.arrow-left {
    transform: rotate(-45deg);
    margin-left: 10px;
}

.arrow-right {
    margin-right: 10px;
    transform: rotate(135deg);
}

.arrow-container-left:hover {
    transform: translateX(10px);
}


.arrow-container-right:hover {
    transform: translateX(-10px);
}


#back {
    transition: 1s;
    background-repeat: no-repeat;
    background-position: center;
    width: 55%;
    height: 100%;
    position: relative;
    background-size: contain;
}

#back:hover {
    transform: scale(1.15);
}

#message {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    background-color: #f3f3f3;
    opacity: 1;
    z-index: 2;
    width: 45%;
    transition: 1s;
    padding-inline: 20px;
}


#message p {
    color: #000000;
    font-family: system-ui;
    text-align: start;
    font-size: 21px;
    font-weight: 400;
}

#message button {
    background-color: #FFF;
    height: 40px;
    width: 135px;
    font-family: system-ui;
    color: #000;
    font-size: 16px;
    transition: 0.5s;
    outline: none;
    border: 2px solid #000;
}

#message button:hover {
    color: #fff;
    background-color: #000;
}

#output {
    font-size: 22px;
    font-style: normal;
    font-family: Gravur Condensed,
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica Neue,
        Arial,
        Noto Sans,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji,
        Segoe UI Symbol,
        Noto Color Emoji;
}

/* end caroussel section */

/* footer section */

b {
    position: relative;
    left: 18px;
}

.sub-link {
    line-height: normal;
    height: 40px !important;
    width: 300px !important;
    display: block !important;
}

.sub-link:hover {
    text-decoration: underline;
}

#footer {
    position: relative;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #000000;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    height: 400px;
}

#footer .flex-container {
    display: flex;
    height: 100%;
}

#footer .footer-group {
    width: 200px;
    flex-grow: 1;
}

#footer .footer-group a {
    color: #fff;
    font-size: 13px;
    font-family: AudiType, sans-serif;

}

#footer .footer-group h2 {
    color: #ffffff;
    font-family: AudiType, sans-serif;
    font-size: 1.3rem;
    padding-left: 38px;

}

#logo,
#button1 {
    display: none;
}

#logo-fullwidth:hover {
    opacity: 0.7;
}

#button,
#button2 {
    scale: 0.8;
    z-index: 3;
}


/* end footer section */


@media all and (max-width: 1200px) {
    #message p {
        font-size: 17px;
    }

    #output {
        font-size: 24px;
    }

}

@media all and (max-width: 1052px) {
    .front-video {
        border-bottom: 0px solid #fff;
    }


    .monAudi {
        display: block;
    }

    .monAudi img {
        width: 100%;
    }

    .carré {
        border: #FFFFFF solid 6px;
        scale: 0.7;

    }

    .carré.hovered:before,
    .carré.hovered2:after {
        width: 411px;
    }

    .carré.hovered:before {
        top: -1px;
    }

    .textAudi {
        position: absolute;
        top: 150px;
    }

    #rand {
        width: 245px;
    }


}

@media all and (max-width:1000px) {
    .background {
        flex-direction: column-reverse;
    }

    .arrow-container-left {
        left: 40%;
    }

    .arrow-container-right {
        right: 40%;

    }

    .arrow-container-left,
    .arrow-container-right {
        top: unset;
        bottom: -80px;
    }

    #button,
    #button2 {
        scale: 1;
    }

    #message,
    #back {
        width: 100%;
    }

    #message {
        height: 300px;
        padding-inline: 0px;
    }

    #message h3,
    #message button,
    #message p {
        margin-inline: 15px;
    }
}

@media all and (max-width: 902px) {

    .textAudi {
        width: 21rem;
        max-width: 100%;
    }


    .footer-group h2 {
        padding-top: 20px;
        width: 100%;
        height: 90px;
    }

    #rand {
        width: 400px;
    }

    #footer .flex-container {
        display: block;
    }

    #footer {
        height: 1300px;
    }
}


@media all and (max-width: 750px) {

    .banner h1,
    h2,
    a {
        color: rgb(0, 0, 0);

    }

    .carré {
        scale: 0.6;
        border: #FFFFFF solid 8px;
    }

    .arrow-container-left {
        left: 30%;
    }

    .arrow-container-right {
        right: 30%;

    }

    .textAudi h1 {
        width: 80%;
    }

    .banner {
        background-color: rgb(251, 251, 251);
        display: block;

    }

    .banner i {
        color: #000;
        line-height: 80px;
    }

    .banner p {
        color: #000;
        padding-left: 5px;

    }

    .banner a:hover {
        border: 0px;
    }

    .close.icon {
        display: block;
        position: relative;
        top: 40px;
        color: #000;
        width: 25px;
        height: 21px;
    }

    .close.icon:before {
        display: block;
        content: '';
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: currentColor;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .close.icon:after {
        display: block;
        content: '';
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: currentColor;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .linkResponsive a {
        display: block;
    }

    #link {
        top: 100px;
        position: relative;
        display: block;
        padding-left: 20px;

    }

    #link a {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        display: none;
        border-bottom: 1px solid gray;
        width: 90%;
    }

    #link a:hover {
        border-bottom: 1px solid rgb(254, 8, 8);
    }

    #logo {
        display: block;
    }

    #logo-fullwidth {
        display: none;
    }

    #button,
    #button2 {
        scale: 0.8;

    }

    #button1 {
        position: absolute;
        left: 0px;
        background-color: transparent;
        display: flex;
        border: none;
        justify-content: center;
        width: 100%;
    }

    #button1:active {
        border: none;
    }

    #menuDepliant {
        display: flex;
        position: absolute;
        left: 0px;
    }

}

@media all and (max-width: 500px) {

    #rand {
        position: absolute;
    }

    #rand a {
        height: 20px;
        margin-top: 10px;
        width: 200px;
        display: flex;
        line-height: 20px;
    }

}

@media all and (max-width: 430px) {

    .carré.hovered:before {
        left: 50%;
        /* Centre horizontalement */
        top: 50%;
        /* Centre verticalement */
        transform: translate(-50%, -50%);
        width: calc(100% + 12px);
        /* + 12px car carré possède deux bordures de 6px chacunes */
        height: 100%;
    }

    .carré:before {
        left: 50%;
        top: 150%;
        /* Centre verticalement */
        transform: translate(-50%, -50%);
        width: calc(100% + 12px);
        /* + 12px car carré possède deux bordures de 6px chacunes */
        height: 100%;
    }
}

/* text audi readjustment */

@media all and (max-width: 440px) {

    .textAudi {
        top: 90px;
    }

    /* .carré {
        scale: 0.5;
    }

    .carré:before {
        width: 402px;
        left: 197px;
    } */

}

@media all and (max-width: 380px) {
    .textAudi {
        scale: 0.8;
        top: 50px;
    }

    #menuDepliant p:first-of-type {
        display: none;
    }
}

@media all and (max-width: 325px) {
    .textAudi {
        top: -5px;
    }
}